<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PatientSignUp</servlet-name>
        <servlet-class>hospital.PatientSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSignUp</servlet-name>
        <servlet-class>hospital.DoctorSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>hospital.DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLogin</servlet-name>
        <servlet-class>hospital.PatientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>hospital.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointment</servlet-name>
        <servlet-class>hospital.BookAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>hospital.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientdetails</servlet-name>
        <servlet-class>hospital.patientdetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctordetails</servlet-name>
        <servlet-class>hospital.doctordetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmappointment</servlet-name>
        <servlet-class>hospital.confirmappointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelappointment</servlet-name>
        <servlet-class>hospital.cancelappointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletedoctorinfo</servlet-name>
        <servlet-class>hospital.deletedoctorinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedoctorinfo</servlet-name>
        <servlet-class>hospital.updatedoctorinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceptionLogin</servlet-name>
        <servlet-class>hospital.ReceptionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackj</servlet-name>
        <servlet-class>hospital.feedbackj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>hospital.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addimage</servlet-name>
        <servlet-class>hospital.addimage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientSignUp</servlet-name>
        <url-pattern>/PatientSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSignUp</servlet-name>
        <url-pattern>/DoctorSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLogin</servlet-name>
        <url-pattern>/PatientLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointment</servlet-name>
        <url-pattern>/BookAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientdetails</servlet-name>
        <url-pattern>/patientdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctordetails</servlet-name>
        <url-pattern>/doctordetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmappointment</servlet-name>
        <url-pattern>/confirmappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelappointment</servlet-name>
        <url-pattern>/cancelappointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletedoctorinfo</servlet-name>
        <url-pattern>/deletedoctorinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedoctorinfo</servlet-name>
        <url-pattern>/updatedoctorinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceptionLogin</servlet-name>
        <url-pattern>/ReceptionLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackj</servlet-name>
        <url-pattern>/feedbackj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addimage</servlet-name>
        <url-pattern>/addimage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
